* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
}

section {
    margin: 20px;
}
.itemsContainer {
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.card {
    margin: 30px;
    height: 38vh;
}
.card img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}
